@media (min-width: 992px) {
  .img-in{
      height: 180px;
      object-fit: cover;
  }
}
.comments-area .comments-list > li {
    padding: 0;
}

.pagination > li.active > span {
    color: white;
    border: 1px solid #FF8C94;
    background-color: #FF8C94;
    width: 40px;
    height: 41px;
    margin-left: 3px;
    margin-right: 3px;
  }
.pagination > li:first-child > span, .pagination > li:last-child > span{
  margin-top: 5px;
  padding-top: 1px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  width: 40px;
  height: 29px;
  margin-right: 3px;
  }
.pagination > li:first-child > a, .pagination > li:last-child > a{
    margin-top: 5px;
    padding-top: 1px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    width: 40px;
    height: 29px;
    margin-right: 3px;
    }

.table > tbody > tr > td{
      border-top: 0;
      border-bottom: 1px solid #eaeaea;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tab-content > .tab-pane {
  display: none !important;
}
.tab-content > .active {
  display: block !important;
}

.no-border {
  border-left: 0;
  border-right: 0;
}

.list-edit {
  color:#FF8C94;
  float: right;
  transition: 0.3s;
}

.list-edit:hover{
  color:#A8E6CE;
}

.btn-edit {
  color:#fff;
  transition: 0.3s;
  background-color:#FF8C94;
}

.btn-edit:hover{
  color:#fff;
  background-color:#A8E6CE;
  border-color: #A8E6CE;
}

.notifications {
  position: fixed;
  z-index: 9999;
}
#complete-order:disabled {
  background-color: grey;
  cursor: not-allowed;
}
/* Positioning */
.notifications.top-right {
  right: 10px;
  top: 150px;
}

.notifications.top-left {
  left: 10px;
  top: 25px;
}

.notifications.bottom-left {
  left: 10px;
  bottom: 25px;
}

.notifications.bottom-right {
  right: 10px;
  bottom: 25px;
}

/* Notification Element */
.notifications > div {
  font-size: 18px;
  position: relative;
  margin: 5px 0px;
  border-radius: 1px;
  box-shadow: 10px 10px 30px rgba(127, 137, 161, 0.25);
  }
}

/* Add here all your CSS customizations */


.btn-view-all {
  color: #fff !important;
  transition: 0.3s;
  background-color:#A8E6CE;
}

.btn-view-all:hover{
  color:#fff !important;
  background-color:#75a190;
  border-color: #75a190;
}

.btn-checkout{
  color:#fff !important;
  background-color:#FF8C94;
  border-color: #FF8C94 ;
}

.btn-checkout:hover {
  color: #fff !important;
  transition: 0.3s;
  background-color:#EF4566;
  border-color: #EF4566 ;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.affix a {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
   position: relative;
   -webkit-transition: all 5s ease-in-out;
     transition: all 5s ease-in-out;
}

.header-main{
  box-shadow: 5px 5px 50px rgba(127, 137, 161, 0.5);
  -webkit-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
}

.active-nav {
  color:#FF8C94 !important;
}
