/* paragraphs */
a {
	color: black;
}
a:hover, a:focus {
	color: #e6c302;
}

/* button */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color: #e6c302;
	border-color: #e6c302;
}

.btn:hover, .btn:focus, .btn:active {
	background-color: #e6c302;
	border-color: #e6c302;
}

.btn-primary {
	background-color: #e6c302;
	border-color: #e6c302;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #333333;
	border-color: #333333;
}

/* overide owl-carousel */
.owl-theme .owl-controls .owl-nav div:hover {
	border-color: #e6c302;
	background-color: #e6c302;
}

/* dropdown-over dropdown */
.dropdown-over .dropdown-content a:hover {
	color: #e6c302;
}
.dropdown-over .dropdown-content ul li.selected {
	color: #e6c302;
}
.dropdown-over .dropdown-content ul li.selected a {
	color: #e6c302;
}
.dropdown-over:hover .dropdown-title, .dropdown-over:focus .dropdown-title, .dropdown-over.open .dropdown-title {
	color: #e6c302;
}
.dropdown-over:hover .dropdown-title a, .dropdown-over:focus .dropdown-title a, .dropdown-over.open .dropdown-title a {
	color: #e6c302;
}

/* main menu */
#main-nav {
	/* dropdown-menu level 2 */
}
#main-nav > ul > li > a:hover, #main-nav > ul > li > a:focus, #main-nav > ul > li > a:active {
	color: #e6c302;
	background-color: transparent;
}
#main-nav > ul > li > a:hover .caret, #main-nav > ul > li > a:focus .caret, #main-nav > ul > li > a:active .caret {
	color: #e6c302;
}
#main-nav > ul > li:hover > a, #main-nav > ul > li:focus > a, #main-nav > ul > li:active > a {
	color: #e6c302;
}
#main-nav > ul > li:hover > a .caret, #main-nav > ul > li:focus > a .caret, #main-nav > ul > li:active > a .caret {
	color: #e6c302;
}
#main-nav .dropdown-menu li a:hover {
	color: #e6c302;
}
#main-nav .dropdown-menu li a:hover .fa {
	color: #e6c302;
}

/* off-mainnav */
#off-mainmenu .dropdown-menu.tiva-active .menu-title a {
	color: #e6c302;
}

/* siderbar menu */
.siderbarmenu .btn-close:hover {
	color: #e6c302;
}
.siderbarmenu .navbar-nav > li > a:hover, .siderbarmenu .navbar-nav > li > a:focus {
	color: #e6c302;
}

#btn-bar:hover {
	color: #e6c302;
}

.siderbarmenu-content .menu-title a {
	color: #e6c302;
}
.siderbarmenu-content .menu-title a:hover {
	color: #e6c302;
}
.siderbarmenu-content .menudropdown ul li a:hover,
.siderbarmenu-content .submenudropdown ul li a:hover {
	color: #e6c302;
}

/* block tabs top */
.tabs-top .nav-tabs > li > a:hover, .tabs-top .nav-tabs > li > a:focus {
	color: #e6c302;
}
.tabs-top .nav-tabs > li.active > a {
	color: #e6c302;
}
.tabs-top .nav-tabs > li.active > a, .tabs-top .nav-tabs > li.active > a:hover, .tabs-top .nav-tabs > li.active > a:focus {
	border-color: transparent transparent #e6c302 transparent;
}

/* page-checkout */
.page-checkout .checkout-shopingcart tr th {
	background-color: #e6c302;
	border: 1px solid #e6c302;
}
.page-checkout .checkout-shopingcart .shop_tablecart .clear-cart a:hover {
	background-color: #e6c302;
	border: 1px solid #e6c302;
}
.page-checkout .panel .btn-default:hover {
	background-color: #e6c302;
	border: 1px solid #e6c302;
}

#subcategories .scene_cat a:hover {
	color: #e6c302;
}

/* product-list */
.product-container .name a:hover {
	color: #e6c302;
}
.product-container .box-buttons .btn:hover {
	background-color: #e6c302;
}

.tiva-nav-tabs li.active a {
	color: #e6c302;
}
.tiva-nav-tabs li.active a:hover, .tiva-nav-tabs li.active a:focus {
	color: #e6c302;
}

.pagination > li > a:hover, .pagination > li > a:focus {
	border: 1px solid #e6c302;
	background-color: #e6c302;
}
.pagination > li.active > a {
	border: 1px solid #e6c302;
	background-color: #e6c302;
}
.pagination > li.active > a:hover, .pagination > li.active > a:focus {
	border: 1px solid #e6c302;
	background-color: #e6c302;
}

.blog-search button {
	background-color: transparent;
}
.blog-search button:hover {
	color: #e6c302;
	background-color: transparent;
	border-color: transparent;
}

.block-tag ul li a:hover {
	color: #e6c302;
}

.block_group_top ul li.selected a {
	color: #e6c302;
}
.block_group_top .block-languages ul li.selected img, .block_group_top .block-languages ul li:hover img {
	border: 1px solid #e6c302;
}

.block-cart .ajax_cart_quantity {
	background-color: #e6c302;
}

.social_block ul li a:hover {
	color: #e6c302;
}

span.jslider.jslider_plastic .jslider-bg i.v {
	background: #e6c302;
}
span.jslider.jslider_plastic .jslider-pointer {
	background: #e6c302;
}

/* footer */
.toggle-footer li a:hover {
	color: #e6c302;
}

.about-us li a:hover {
	color: #e6c302;
}

/* Popup Screen */
.tiva-popup-screen .popup .close:hover {
	color: #e6c302;
}

/* go-up */
.go-up a {
	background: #e6c302;
}
.go-up a:hover {
	color: white;
}

/* multi-color */
.multi-color.active .handle {
	color: #e6c302;
}
.multi-color .btn-fixedheader .button.yes.active, .multi-color .btn-fixedheader .button.no.active {
	background-color: #e6c302;
}
.multi-color .view-demos a {
	color: #e6c302;
}

.tiva-slideshow-wrapper .nivo-controlNav .nivo-control.active {
	background-color: #e6c302;
}
.tiva-slideshow-wrapper .tiva-caption .medium_yellow_16 span {
	background-color: #e6c302;
}
.tiva-slideshow-wrapper .tiva-caption .btn:hover {
	border: 2px solid #e6c302;
	background-color: #e6c302;
}

.box-cart-bottom #wishlist_button:hover {
	background-color: #e6c302;
}

.share-social a:hover {
	color: #e6c302;
}

#quantity_wanted_p .btn:hover, #quantity_wanted_p .btn:focus, #quantity_wanted_p .btn:active {
	background-color: #e6c302;
}

.post-meta-lr a:hover {
	color: #e6c302;
}

.blog-detail .post-tag-left a:hover {
	color: #e6c302;
}

.comments-area .comments-list .reply-link:hover {
	color: #e6c302;
}

/* home-1 */
.home-1 .header-main .block-search .dropdown-title a:hover, .home-1 .header-main .block-search .dropdown-title a:focus,
.home-1 .header-main .block-cart .dropdown-title a:hover,
.home-1 .header-main .block-cart .dropdown-title a:focus {
	color: #e6c302;
}
.home-1 .header_user_info ul li a:hover {
  color: #e6c302;
}
.home-1 .block-languages .dropdown-title a:hover, .home-1 .block-languages .dropdown-title a:focus,
.home-1 .block-currencies .dropdown-title a:hover,
.home-1 .block-currencies .dropdown-title a:focus {
	color: #e6c302;
}

/* home-2 */
.home-2 a:hover, .home-2 a:focus {
	color: #e6c302;
}
.home-2 .btn:hover, .home-2 .btn:focus, .home-2 .btn:active,
.home-2 .btn-default:hover,
.home-2 .btn-default:focus,
.home-2 .btn-default:active {
	border-color: #e6c302;
	background-color: #e6c302;
}
.home-2 .btn-primary {
	background-color: #e6c302;
	border-color: #e6c302;
}
.home-2 .btn-primary:hover, .home-2 .btn-primary:focus, .home-2 .btn-primary:active {
	background-color: #333333;
	border-color: #333333;
}
.home-2 .dropdown-over .dropdown-title a:hover {
	color: #e6c302;
}
.home-2 .dropdown-over .dropdown-content a:hover {
	color: #e6c302;
}
.home-2 .dropdown-over .dropdown-content ul li.selected {
	color: #e6c302;
}
.home-2 .dropdown-over .dropdown-content ul li.selected a {
	color: #e6c302;
}
.home-2 .dropdown-over:hover .dropdown-title, .home-2 .dropdown-over:focus .dropdown-title, .home-2 .dropdown-over.open .dropdown-title {
	color: #e6c302;
}
.home-2 .dropdown-over:hover .dropdown-title a, .home-2 .dropdown-over:focus .dropdown-title a, .home-2 .dropdown-over.open .dropdown-title a {
	color: #e6c302;
}
.home-2 .block-cart .ajax_cart_quantity {
	background-color: #e6c302;
}
.home-2 #main-nav {
	/* dropdown-menu level 2 */
}
.home-2 #main-nav > ul > li > a:hover, .home-2 #main-nav > ul > li > a:focus, .home-2 #main-nav > ul > li > a:active {
	color: #e6c302;
}
.home-2 #main-nav > ul > li > a:hover .caret, .home-2 #main-nav > ul > li > a:focus .caret, .home-2 #main-nav > ul > li > a:active .caret {
	color: #e6c302;
}
.home-2 #main-nav > ul > li:hover > a, .home-2 #main-nav > ul > li:focus > a, .home-2 #main-nav > ul > li:active > a {
	color: #e6c302;
}
.home-2 #main-nav > ul > li:hover > a .caret, .home-2 #main-nav > ul > li:focus > a .caret, .home-2 #main-nav > ul > li:active > a .caret {
	color: #e6c302;
}
.home-2 #main-nav .dropdown-menu li a:hover {
	color: #e6c302;
}
.home-2 #main-nav .dropdown-menu li a:hover .fa {
	color: #e6c302;
}
.home-2 .header-topbar {
	background-color: #e6c302;
}
.home-2 .tiva-slideshow-wrapper .tiva-caption .tiva-caption-lr {
	background-color: rgba(230, 195, 2, 0.5);
}
.home-2 .tiva-slideshow-wrapper .nivo-controlNav .nivo-control.active {
	background-color: #e6c302;
}
.home-2 .tabs-top .nav-tabs > li > a:hover, .home-2 .tabs-top .nav-tabs > li > a:focus {
	color: #e6c302;
}
.home-2 .tabs-top .nav-tabs > li.active > a {
	color: #e6c302;
}
.home-2 .tabs-top .nav-tabs > li.active > a, .home-2 .tabs-top .nav-tabs > li.active > a:hover, .home-2 .tabs-top .nav-tabs > li.active > a:focus {
	border-color: transparent transparent #e6c302 transparent;
}
.home-2 .product-container .name a:hover {
	color: #e6c302;
}
.home-2 .product-container .box-buttons .btn:hover {
	background-color: #e6c302;
}
.home-2 .owl-theme .owl-controls .owl-nav div:hover {
	background-color: #e6c302;
	border-color: #e6c302;
}
.home-2 .testimoniol-items a:hover {
	color: #e6c302;
}
.home-2 .block-newsletter form .btn:hover {
	background-color: transparent;
}
.home-2 .toggle-footer li a:hover {
	color: #e6c302;
}
.home-2 .social_block ul li a:hover {
	color: #e6c302;
}
.home-2 .go-up a {
	background-color: #e6c302;
}
.home-2 .go-up a:hover {
	color: white;
}
.home-2 span.jslider.jslider_plastic .jslider-bg i.v {
	background: #e6c302;
}
.home-2 span.jslider.jslider_plastic .jslider-pointer {
	background: #e6c302;
}
.home-2 .tiva-nav-tabs li.active a {
	color: #e6c302;
}
.home-2 .pagination > li > a:hover, .home-2 .pagination > li > a:focus {
	border-color: #e6c302;
	background-color: #e6c302;
}
.home-2 .pagination > li.active > a {
	border-color: #e6c302;
	background-color: #e6c302;
}
.home-2 .pagination > li.active > a:hover, .home-2 .pagination > li.active > a:focus {
	border-color: #e6c302;
	background-color: #e6c302;
}
.home-2 #quantity_wanted_p .btn:hover,
.home-2 #quantity_wanted_p .btn:focus,
.home-2 #quantity_wanted_p .btn:active {
	background-color: #e6c302;
}
.home-2 .box-cart-bottom #wishlist_button:hover {
	background-color: #e6c302;
	border-color: #e6c302;
}
.home-2 .share-social a:hover {
	color: #e6c302;
}
.home-2 .blog-search button {
	background-color: transparent;
}
.home-2 .blog-search button:hover {
	color: #e6c302;
	background-color: transparent;
	border-color: transparent;
}
.home-2 .post-meta-lr a:hover {
	color: #e6c302;
}
.home-2 .block-tag ul li a:hover {
	color: #e6c302;
}
.home-2 .comments-area .comments-list .reply-link:hover {
	color: #e6c302;
}
.home-2 .multi-color.active .handle {
	color: #e6c302;
}
.home-2 .multi-color .btn-fixedheader .button.yes.active, .home-2 .multi-color .btn-fixedheader .button.no.active {
	background-color: #e6c302;
}
.home-2 .multi-color .view-demos a {
	color: #e6c302;
}
.home-2 .tiva-popup-screen .popup .close:hover {
	color: #e6c302;
}

/* home-3 */
.home-3 a:hover, .home-3 a:focus {
	color: #e6c302;
}
.home-3 .btn:hover, .home-3 .btn:focus, .home-3 .btn:active,
.home-3 .btn-default:hover,
.home-3 .btn-default:focus,
.home-3 .btn-default:active {
	color: white;
	border-color: #e6c302;
	background-color: #e6c302;
}
.home-3 .btn-primary {
	color: white;
	background-color: #e6c302;
	border-color: #e6c302;
}
.home-3 .btn-primary:hover, .home-3 .btn-primary:focus, .home-3 .btn-primary:active {
	background-color: #333333;
	border-color: #333333;
}
.home-3 #main-nav {
	/* dropdown-menu level 2 */
}
.home-3 #main-nav > ul > li > a:hover, .home-3 #main-nav > ul > li > a:focus, .home-3 #main-nav > ul > li > a:active {
	color: #e6c302;
}
.home-3 #main-nav > ul > li > a:hover .caret, .home-3 #main-nav > ul > li > a:focus .caret, .home-3 #main-nav > ul > li > a:active .caret {
	color: #e6c302;
}
.home-3 #main-nav > ul > li:hover > a, .home-3 #main-nav > ul > li:focus > a, .home-3 #main-nav > ul > li:active > a {
	color: #e6c302;
}
.home-3 #main-nav > ul > li:hover > a .caret, .home-3 #main-nav > ul > li:focus > a .caret, .home-3 #main-nav > ul > li:active > a .caret {
	color: #e6c302;
}
.home-3 #main-nav .dropdown-menu li a:hover {
	color: #e6c302;
}
.home-3 #main-nav .dropdown-menu li a:hover .fa {
	color: #e6c302;
}
.home-3 .dropdown-over .dropdown-title a {
	color: white;
}
.home-3 .dropdown-over .dropdown-title a:hover {
	color: #e6c302;
}
.home-3 .dropdown-over .dropdown-content a:hover {
	color: #e6c302;
}
.home-3 .dropdown-over .dropdown-content ul li.selected {
	color: #e6c302;
}
.home-3 .dropdown-over .dropdown-content ul li.selected a {
	color: #e6c302;
}
.home-3 .dropdown-over:hover .dropdown-title, .home-3 .dropdown-over:focus .dropdown-title, .home-3 .dropdown-over.open .dropdown-title {
	color: #e6c302;
}
.home-3 .dropdown-over:hover .dropdown-title a, .home-3 .dropdown-over:focus .dropdown-title a, .home-3 .dropdown-over.open .dropdown-title a {
	color: #e6c302;
}
.home-3 .block-cart .ajax_cart_quantity {
	background-color: #e6c302;
}
.home-3 .tiva-slideshow-wrapper .tiva-caption .btn:hover {
	background-color: transparent;
	border-color: #e6c302;
	color: #e6c302;
}
.home-3 .tiva-slideshow-wrapper .tiva-caption .very_large_72.pink {
	color: #e6c302;
}
.home-3 .tiva-slideshow-wrapper .nivo-controlNav .nivo-control.active {
	background-color: #e6c302;
}
.home-3 .section .title_block:before {
	background-color: #e6c302;
}
.home-3 .section .owl-theme .owl-controls .owl-nav div {
	background: transparent;
	border: 2px solid transparent;
}
.home-3 .section .owl-theme .owl-controls .owl-nav div:hover {
	color: #e6c302;
	border-color: transparent;
	background-color: transparent;
}
.home-3 .product-container .name a:hover {
	color: #e6c302;
}
.home-3 .product-container .box-buttons .btn:hover {
	background-color: #e6c302;
}
.home-3 .testimoniol-items a:hover {
	color: #e6c302;
}
.home-3 .services-item i {
	font-size: 50px;
	color: #e6c302;
}
.home-3 #footer a:hover {
	color: #e6c302;
}
.home-3 .go-up a {
	background-color: #e6c302;
}
.home-3 .go-up a:hover {
	color: white;
}
.home-3 span.jslider.jslider_plastic .jslider-bg i.v {
	background: #e6c302;
}
.home-3 span.jslider.jslider_plastic .jslider-pointer {
	background: #e6c302;
}
.home-3 .tiva-nav-tabs li.active a {
	color: #e6c302;
}
.home-3 .pagination > li > a:hover, .home-3 .pagination > li > a:focus {
	border-color: #e6c302;
	background-color: #e6c302;
}
.home-3 .pagination > li.active > a {
	border-color: #e6c302;
	background-color: #e6c302;
}
.home-3 .pagination > li.active > a:hover, .home-3 .pagination > li.active > a:focus {
	border-color: #e6c302;
	background-color: #e6c302;
}
.home-3 #quantity_wanted_p .btn:hover,
.home-3 #quantity_wanted_p .btn:focus,
.home-3 #quantity_wanted_p .btn:active {
	background-color: #e6c302;
}
.home-3 .box-cart-bottom #wishlist_button:hover {
	background-color: #e6c302;
	border-color: #e6c302;
}
.home-3 .share-social a:hover {
	color: #e6c302;
}
.home-3 .blog-search button {
	background-color: transparent;
}
.home-3 .blog-search button:hover {
	color: #e6c302;
	background-color: transparent;
	border-color: transparent;
}
.home-3 .post-meta-lr a:hover {
	color: #e6c302;
}
.home-3 .block-tag ul li a:hover {
	color: #e6c302;
}
.home-3 .comments-area .comments-list .reply-link:hover {
	color: #e6c302;
}
.home-3 .multi-color.active .handle {
	color: #e6c302;
}
.home-3 .multi-color .btn-fixedheader .button.yes.active, .home-3 .multi-color .btn-fixedheader .button.no.active {
	background-color: #e6c302;
}
.home-3 .multi-color .view-demos a {
	color: #e6c302;
}
.home-3 .tiva-popup-screen .popup .close:hover {
	color: #e6c302;
}